<h2>نمایش کد های تخفیف</h2>
<table class="table">
  <thead>
    <tr>
      <th>کد تخفیف</th>
      <th>توضیحات</th>
      <th>حداکثر تعداد استفاده</th>
      <th>استفاده شده</th>
      <th>ویرایش</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let voucher of vouchers">
      <td>{{voucher.code}}</td>
      <td>{{voucher.description}}</td>
      <td>{{voucher.maxUses}}</td>
      <td>{{voucher.used}}</td>
      <td><button (click)="editVoucher(voucher)" >ویرایش</button></td>
      <th><button (click)="onMoreClick(voucher)" >اطلاعات بیشتر</button></th>
    </tr>
  </tbody>
</table>
<ts-voucher *ngIf="selectedVoucher" [voucher]="selectedVoucher" ></ts-voucher>
<form  [formGroup]='updateForm' (ngSubmit)="onUpdate(editedVoucher.id)" *ngIf="editedVoucher">
  <h2>ویرایش کد تخفیف</h2>
  <div>
    <label>حداکثر تعداد استفاده<input type="text" name="maxUses" value="" formControlName="maxUses"></label>
  </div>
  <div>
    <label>توضیحات<input type="text" name="description" value="" formControlName="description"></label>
  </div>
  <div>
    <label>تاریخ شروع<input type="text" name="startDate" value="" formControlName="startDate"></label>
  </div>
  <div>
    <label>تاریخ انقضا<input type="text" name="expireDate" value="" formControlName="expireDate"></label>
  </div>
  <div>
    <label>نوع کد تخفیف
      <select  name="voucherType" formControlName="voucherType">
        <option value="">نوع </option>
        <option value="P">درصد</option>
        <option value="A">مبلغ</option>
      </select>
    </label>
  </div>
  <div>
    <label>میزان تخفیف<input type="text" name="discountValue" value="" formControlName="discountValue"></label>
  </div>
  <div>
    <button type="submit" name="updateVoucher" >ویرایش</button>
  </div>
</form>
<ts-generate-voucher></ts-generate-voucher>
