<h2>اطلاعات کامل سفر</h2>
<table>
  <thead>
    <tr>
      <th>آی دی سفر</th>
      <th>نام کاربری مسافر</th>
      <th>نام کاربری راننده</th>
      <th>تاریخ سفر</th>
      <th>هزینه</th>
       <th>مبدا</th>
       <th>مقصد 1</th>
       <!-- <th>مقصد 2</th> -->
       <th>پرداخت نقدی</th>
       <th>پرداخت از کیف پول</th>
       <th>امتیاز</th>
       <th>وضعیت</th>
       <th>نام کاربری اپراتور</th>
       <th>شماره اشتراک</th>
       <th>کد تخفیف</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="trip">
      <td>{{trip.UUID}}</td>
      <td>{{trip.passengerUsername}}</td>
      <td>{{trip.driverUsername}}</td>
      <td>{{trip.startDate}}</td>
      <td>{{trip.cost}}</td>
      <td>{{trip.originAddress}}</td>
      <td>{{trip.destinations[0].address}}</td>
      <!-- <td >{{trip.destinations[1].address}}</td> -->
      <td>{{trip.cashPayment}}</td>
      <td>{{trip.creditPayment}}</td>
      <td>{{trip.rate}}</td>
    </tr>
  </tbody>
</table>
