<h2>اطلاعات کامل سفر</h2>
<table>
  <thead>
    <tr>
      <th>آی دی سفر</th>
      <th>نام کاربری مسافر</th>
      <th>نام کاربری راننده</th>
      <th>تاریخ سفر</th>
      <th>هزینه</th>
      <th>زمان شروع</th>
       <th>زمان پایان</th>
       <th>مبدا</th>
       <th>مقصد</th>
       <th>پرداخت نقدی</th>
       <th>پرداخت از کیف پول</th>
       <th>امتیاز</th>
       <th>وضعیت</th>
       <th>نام کاربری اپراتور</th>
       <th>شماره اشتراک</th>
       <th>کد تخفیف</th>
    </tr>
  </thead>
  <tbody>
    <tr>

    </tr>
  </tbody>
</table>
