// Background colors
$background: #f1f1f1;
$background-out: darken($background, 3%);
$background-accent: #333;
$background-accent-out: darken($accent-bg, 3%);

// Accent colors
$accent: #ffc700;
$accent-text: darken($accent, 10%);

// Accent 2 Color
$accent2: #00ce9b;
$accent2-text: darken($accent2, 10%);

// Emotions color
$error: #f97753;
$success: #00ce9b;
$warning: #eaa43f;
$disable: #dddcde;

// Text colors
$text: #444;
$text-gray: #b0b0b0;

// Service colors
$service-normal: #503cfb;
$service-taxi: #e0921d;
$service-eco: #00ce9b;
$service-suv: #3c87fb;
$service-lux: #353439;
$service-deliv: #fbb03c;
$service-motor: #f97753;
