@font-face {
  font-family: 'mavfon';
  src: url('/assets/fonts/mavfon.ttf');
}

@font-face {
  font-family: Yekan;
  src: url('/assets/fonts/yekan/BYekan.eot'),
  url('/assets/fonts/yekan/BYekan.woff') format('woff'),
  url('/assets/fonts/yekan/BYekan.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Yas;
  src: url('/assets/fonts/irsansans.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Mitra;
  src: url('/assets/fonts/mitra/BMitra.ttf');
  font-weight: 400;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/irsans-persian/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/irsans-persian/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/irsans-persian/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/irsans-persian/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2') /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/irsans-persian/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff') /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/irsans-persian/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/irsans-persian/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/irsans-persian/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/irsans-persian/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/irsans-persian/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/irsans-persian/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/irsans-persian/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum).eot');
  src: url('/assets/fonts/irsans-persian/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/irsans-persian/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/irsans-persian/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/irsans-persian/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

$body-size: 10pt;
$logo-size: 14pt;
$header-size: 14pt;
$nav-size: 12pt;
$menuitem-size: 12pt;
$subnav-size: 10pt;
$card-data-size: 24pt;
$nav-icon-size: 12pt;
$subnav-icon-size: 9pt;
