@import './colors';
@import './typography';

// width and heights
$panel-width: 250px;
$header-height: 70px;
$nav-height: 70px;

// shadows
$header-shadow: 0 3px 6px $shadow-color2;
$card-shadow: 0 3px 6px $shadow-color1, 0 3px 6px $shadow-color2;
