@import './colors';
@import './typography';

// width and heights
$panel-width: 260px;
$header-height: 70px;
$nav-height: 80px;

// shadows
$header-shadow: 0 1px 1px $shadow-color2;
$card-shadow: 0 1px 2px $shadow-color1;

//table
$table-padding: 15px 20px 15px 0;
$container-padding: 30px;
$header-padding: 0 $container-padding;
