<h2>کاربران منع شده</h2>
<table class="table">
  <thead>
    <tr>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th>نام کاربری</th>
    <th>شماره همراه</th>
    <th>نوع کاربر</th>
    <th>رفع بن</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driver of drivers">
      <td>{{driver.firstName}}</td>
      <td>{{driver.lastName}}</td>
      <td>{{driver.username}}</td>
      <td>{{driver.phoneNumber}}</td>
      <td>راننده</td>
      <td><button class="btn" (click)="unBanDriver(driver)">رفع بن</button></td>
    </tr>
    <tr *ngFor="let passenger of passengers">
      <td>{{passenger.firstName}}</td>
      <td>{{passenger.lastName}}</td>
      <td>{{passenger.username}}</td>
      <td>{{passenger.phoneNumber}}</td>
      <td>مسافر</td>
      <td><button class="btn" (click)="unBanPassenger(passenger)">رفع بن</button></td>
    </tr>
  </tbody>
</table>
