<h2>مسافر ها</h2>
<input type="search" name="searchPassengers" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="searchStr">
<table>
  <thead>
    <tr>
      <th>نام مسافر</th>
      <th>نام کاربری</th>
      <th>شماره‌همراه</th>
      <th>موجودی حساب</th>
      <th>وضعیت</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="PassengersInfo">
    <td>{{PassengersInfo.passengerInfo.firstName}}</td>
    <td>{{PassengersInfo.passengerInfo.lastName}}</td>
    <td></td>
    <td>{{PassengersInfo.credit}}</td>
    <td>{{PassengersInfo.stateCode}}</td>
    </tr>
  </tbody>
</table>
<ts-passenger-all-info *ngIf="selectedPassenger" [PassengerInfo]="selectedPassenger"></ts-passenger-all-info>
