<h2>بیشترین بدهی ها</h2>
<table class="table">
  <thead>
    <tr>
      <th>نام کاربری راننده</th>
      <th>بدهی</th>
      <th>تسویه حساب</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mddriver of mddrivers">
      <td>{{mddriver.username}}</td>
      <td>{{mddriver.credit}}</td>
      <td><button>تسویه</button></td>
    </tr>
    <tr *ngIf="!driver" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
<h2>فیلتر براساس میزان بدهی</h2>
<input type="number" name="" value="" [(ngModel)]="value">
<button (click)="onSubmit()">نمایش</button>
<table class="table" >
  <thead>
    <tr>
      <th>نام کاربری راننده</th>
      <th>بدهی</th>
      <th>تسویه حساب</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gtdriver of gtdrivers">
      <td>{{gtdriver.username}}</td>
      <td>{{gtdriver.credit}}</td>
      <td><button>تسویه</button></td>
    </tr>
    <tr *ngIf="!gtdriver" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
<h2>بدهی کل راننده ها </h2>
<table class="table">
  <thead>
    <tr>
      <th>نام کاربری راننده</th>
      <th>بدهی</th>
      <th>تسویه حساب</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driver of drivers">
      <td>{{driver.username}}</td>
      <td>{{driver.debt}}</td>
      <td><button (click)="pay(driver)">تسویه</button></td>
    </tr>
    <tr *ngIf="!driver" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
