@import '../../assets/scss/variables';

:host
{
  background: $background-accent;
  height: 100%;
  min-width: $panel-width;
  color: $text-light;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
}

nav
{
  flex: 1;
}

.drawer-container
{
  margin-top: 2em;
  display: flex;

  .send-service
  {
    margin: 10%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    flex: 1;
  }
}

.drawer-footer
{
  height: 60px;
  display: flex;

  .btn-more
  {
    font-size: $nav-size;
    margin: 0;
    flex: 1;
    line-height: 60px;
    height: 100%;
    text-align: center;
  }
}
