<header class="logo-bar">
  <h1>
    <i class="fa fa-cogs" aria-hidden="true"></i>
    پنل مدیریت
  </h1>
</header>

<header class="menu-bar" role="menubar">
  <nav class="route">
    <h1>{{'داشبورد'}}</h1>
    <ul class="breadcrumb">
      <li><a href="#">پنل راننده</a></li>
      <li>راننده ها</li>
      <li>علیرضا</li>
    </ul>
  </nav>

  <ul class="menu">
    <li role="menuitem"><i class="fa fa-home" aria-hidden="true"></i></li>
    <li role="menuitem"><i class="fa fa-bell" aria-hidden="true"></i></li>
    <li role="menuitem"><i class="fa fa-cog" aria-hidden="true"></i></li>
    <li role="menuitem"><i class="fa fa-sign-out" aria-hidden="true"></i></li>
  </ul>
</header>
