@import 'variables';

:host {
  position: relative;
  display: flex;
  min-height: $header-height;
  box-shadow: $header-shadow;
}

.logo-bar {
  background: $background-accent;
  color: $text-light;
  min-width: $panel-width;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: $accent-text;
    font-size: $logo-size;

    i {
      position: relative;
      top: 4px;
      left: 4px;
      font-size: 20px;
    }
  }
}

.menu-bar {
  background: $background-out;
  padding: $header-padding;
  flex: 1;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;

  .route {
    flex: 1;

    h1 {
      font-size: $header-size;
    }
  }

  .menu {
    list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
    color: $text-gray;

    li {
      padding-right: 20px;
      font-size: $menuitem-size;
    }
  }
}
