<h2>راننده های آنلاین</h2>
<table class="table">
  <thead>
    <tr>
      <th>نام کاربری</th>
      <th>نوع سرویس</th>
      <th>شماره همراه</th>
      <th>امتیاز</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driver of drivers">
      <td>{{driver.username}}</td>
      <td>{{driver.serviceType}}</td>
      <td>{{driver.phoneNumber}}</td>
      <td>{{driver.rate}}</td>
    </tr>
    <tr *ngIf="!driver" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
