<h2>بارگذاری مجدد</h2>
<table  class="table">
    <tr>
      <th>بارگذاری مجدد تعرفه</th>
      <td><button   (click)="onRealoadTarrif()">کلیک</button></td>
      <th>بارگذاری مجدد تنظیمات</th>
      <td><button (click)="onReloadSetting()" >کلیک</button></td>
      <th>بارگذاری مجدد شعاع جستجو</th>
      <td><button (click)="onReloadSearchRadius()" >کلیک</button></td>
    </tr>
    <tr>
      <th>بارگذاری مجدد استان ها</th>
      <td><button (click)="onReloadStates()" >کلیک</button></td>
      <th>بارگذاری مجدد موضوع تیکت ها</th>
      <td><button (click)="onReloadTicketSubject()" >کلیک</button></td>
    </tr>
</table>
