<h2>خودرو سازی ها</h2>
<table class="table">
  <thead>
    <tr>
      <th>نام</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let manufacture of manufactures">
        <td>{{manufacture.name}}</td>
    </tr>
  </tbody>
</table>
<h2>اضافه کردن خودروسازی جدید</h2>
<form [formGroup]= "myForm" (ngSubmit)="onSubmit()" >
  <label>خودروسازی جدید</label>
  <input type="text" name="name" value="" formControlName="name">
  <button type="submit" name="submitManufacture" class="btn" [disabled]="!myForm.valid">ثبت</button>
  <span></span>
</form>
