<h2>نمایش تیکت ها</h2>
<table class="table">
  <thead>
    <tr>
      <th>موضوع</th>
      <th>متن تیکت</th>
      <th>نام کاربری مسافر</th>
      <th>نام کاربری راننده</th>
      <th>تغییر وضعیت</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ticket.subject}}</td>
      <td>{{ticket.description}}</td>
      <td>{{ticket.passengerUsername}}</td>
      <td>{{ticket.driverUsername}}</td>
      <td><button class="btn" (click)="resolved(ticket)" >رسیدگی شد</button></td>
    </tr>
  </tbody>
</table>
