<h2>سفر ها</h2>
<input type="search"  name="searchTrips" class="form-ctrl search" placeholder="جستجو ..." [formControl]="searchControl" [value]="search">
<table class="table">
  <thead>
    <tr>
      <th>آی دی سفر</th>
      <th>نام کاربری مسافر</th>
      <th>نام کاربری راننده</th>
      <th>تاریخ سفر</th>
      <th>هزینه</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of trips">
      <td>{{trip.UUID}}</td>
      <td>{{trip.passengerUsername}}</td>
      <td>{{trip.driverUsername}}</td>
      <td>{{trip.startDate}}</td>
      <td>{{trip.cost}}</td>
      <td><button class="btn accent" (click)="onMoreClick(trip)">اطلاعات بیشتر</button></td>
    </tr>
  </tbody>
</table>

<ts-trips *ngIf="selectedTrip" [trip]="selectedTrip"></ts-trips>
