<h2>سفر ها</h2>
<input type="search" name="searchTrips" class="form-ctrl search" placeholder="جستجو ..." (keyup)="onSearch()" [(ngModel)]="searchStr">
<table class="table">
  <thead>
    <tr>
      <th>آی دی سفر</th>
      <th>نام کاربری مسافر</th>
      <th>نام کاربری راننده</th>
      <th>تاریخ سفر</th>
      <th>هزینه</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <!-- <td><button (click)="onMoreClick(trip)">کلیک</button></td> -->
    </tr>
  </tbody>
</table>

<!-- <ts-trips *ngIf="selectedTrip" [trip]="selectedTrip"></ts-trips> -->
