<h2>اطلاعات کامل راننده</h2>
<table>
  <thead>
    <tr>
      <th>نام راننده</th>
      <th>نام خانوادگی</th>
      <th>نام کاربری</th>
      <th>نوع سرویس</th>
      <th>اعتبار حساب</th>
      <th>جنسیت</th>
      <th>تاریخ تولد</th>
      <th>نام خودرو</th>
      <th>رنگ خودرو</th>
      <th>پلاک خودرو</th>
      <th>سال ساخت خودرو</th>
      <th>کدملی</th>
      <th>تاریخ ثبت نام</th>
      <th>وضعیت</th>
      <th>سیستم عامل</th>
      <th>نسخه سیستم عامل</th>
      <th>ایمیل</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="DriversInfo">
      <td>{{DriversInfo.firstName}}</td>
      <td>{{DriversInfo.lastName}}</td>
      <td>{{DriversInfo.username}}</td>
      <td>{{DriversInfo.serviceType}}</td>
      <td>{{DriversInfo.credit}}</td>
      <td>{{DriversInfo.gender}}</td>
      <td>{{DriversInfo.birthDate}}</td>
      <td>{{DriversInfo.vehicle.car}}</td>
      <td>{{DriversInfo.vehicle.color}}</td>
      <td>{{DriversInfo.vehicle.licencePlate}}</td>
      <td>{{DriversInfo.vehicle.buildDate}}</td>
      <td>{{DriversInfo.nationalNumber}}</td>
      <td>{{DriversInfo.registrationDate}}</td>
      <td>{{DriversInfo.stateCode}}</td>
      <td>{{DriversInfo.device.OS}}</td>
      <td>{{DriversInfo.device.OSVersion}}</td>
      <td>{{DriversInfo.email}}</td>
    </tr>
  </tbody>
</table>
