<h2>سفر های آنلاین</h2>
<table class="table">
  <thead>
    <tr>
      <th>نام کاربری راننده</th>
      <th>نام کاربری مسافر</th>
      <th>آدرس مبدا</th>
      <th>آدرس مقصد1</th>
      <th>آدرس مقصد2</th>
      <th>خودرو</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of trips">
      <td>{{trip.driverUsername}}</td>
      <td>{{trip.passengerUsername}}</td>
      <td></td>
      <td>{{trip.destinations[0].address}}</td>
      <td></td>
      <td>{{trip.vehicle.name}}</td>
    </tr>
  </tbody>
</table>
