<h2>تنظیمات سیستم</h2>
<form [formGroup]="updateForm" (ngSubmit)="onUpdate()" *ngIf="settings">
  <div>
    <label>
      ارسال اس ام اس
        <input type="checkbox" name="smsSender" value="" (change)="toggle('smsSender')" [checked]="settings.smsSender" >
    </label>
  </div>
  <div>
    <label>
      ارسال ایمیل
      <input type="checkbox" name="emailSender" value="" (change)="toggle('emailSender')" [checked]="settings.emailSender" >
    </label>
  </div>
  <div>
    <label>
      اس ام اس رخداد استثنا
      <input type="checkbox" name="exceptionOccurrenceSms" value="" (change)="toggle('exceptionOccurrenceSms')" [checked]="settings.exceptionOccurrenceSms" >
    </label>
  </div>
  <div>
    <label>
    ایمیل رخداد استثنا
        <input type="checkbox" name="exceptionOccurrenceEmail" value="" (change)="toggle('exceptionOccurrenceEmail')" [checked]="settings.exceptionOccurrenceEmail" >
    </label>
  </div>
  <div>
    <label>
      اس ام اس گزارش روزانه
      <input type="checkbox" name="dailySmsReport" value="" (change)="toggle('dailySmsReport')" [checked]="settings.dailySmsReport" >
    </label>
  </div>
  <div>
    <label>
      اس ام اس گزارش هفتگی
      <input type="checkbox" name="weeklySmsReport" value="" (change)="toggle('weeklySmsReport')" [checked]="settings.weeklySmsReport" >
    </label>
  </div>
  <div>
    <label>
      ایمیل گزارش روزانه
      <input type="checkbox" name="dailyEmailReport" value="" (change)="toggle('dailyEmailReport')" [checked]="settings.dailyEmailReport" >
    </label>
  </div>
  <div>
    <label>
      ایمیل گزارش هفتگی
        <input type="checkbox" name="weeklyEmailReport" value="" (change)="toggle('weeklyEmailReport')" [checked]="settings.weeklyEmailReport" >
    </label>
  </div>
  <div>
    <label>
      ایمیل گزارش ماهانه
      <input type="checkbox" name="monthlyEmailReport" value="" (change)="toggle('monthlyEmailReport')" [checked]="settings.monthlyEmailReport" >
    </label>
  </div>
  <div>
    <label>
      رقبا
        <input type="checkbox" name="allowCompetitors" value="" (change)="toggle('allowCompetitors')" [checked]="settings.allowCompetitors" >
    </label>
  </div>
<div>
  <label>
    آپدیت اضطراری اندروید- مسافر
    <input type="text" name="PCriticalAndroidUpdate" formControlName="PCriticalAndroidUpdate" [(ngModel)]="settings.PCriticalAndroidUpdate" value="">
  </label>
</div>
<div>
  <label>
    آپدیت اندروید - مسافر
    <input type="text" name="PAndroidUpdate" formControlName="PAndroidUpdate" [(ngModel)]="settings.PAndroidUpdate" value="">
  </label>
</div>
<div>
  <label>
    آپدیت اضطراری اندروید- راننده
    <input type="text" name="DCriticalAndroidUpdate" formControlName="DCriticalAndroidUpdate" [(ngModel)]="settings.DCriticalAndroidUpdate" value="">
  </label>
</div>
<div>
  <label>
    آپدیت اندروید - راننده
    <input type="text" name="DAndroidUpdate" formControlName="DAndroidUpdate" [(ngModel)]="settings.DAndroidUpdate" value="">
  </label>
</div>
<div>
  <label>
    آپدیت اضطراری آی او اس- مسافر
    <input type="text" name="PCriticalIOSUpdate" formControlName="PCriticalIOSUpdate" [(ngModel)]="settings.PCriticalIOSUpdate" value="">
  </label>
</div>
<div>
  <label>
    آپدیت آی او اس - مسافر
    <input type="text" name="PIOSUpdate" formControlName="PIOSUpdate" [(ngModel)]="settings.PIOSUpdate" value="">
  </label>
</div>
<div>
  <label>
    آپدیت اضطراری آی او اس - راننده
    <input type="text" name="DCriticalIOSUpdate" formControlName="DCriticalIOSUpdate" [(ngModel)]="settings.DCriticalIOSUpdate" value="">
  </label>
</div>
<div>
  <label>
    آپدیت آی او اس - راننده
    <input type="text" name="DIOSUpdate" formControlName="DIOSUpdate" [(ngModel)]="settings.DIOSUpdate" value="">
  </label>
</div>
<button type="submit" name="button" [disabled]="!updateForm.valid">ثبت</button>
</form>
