<h2>راننده ها</h2>
<input class="search form-ctrl" type="search" name="searchDrivers" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="searchStr">
<table class="table">
  <thead>
    <tr>
      <th>نام راننده</th>
      <th>نام خانوادگی</th>
      <th>نام کاربری</th>
      <th>نوع سرویس</th>
      <th>اعتبار حساب</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="DriversInfo">
      <td>{{DriversInfo.firstName}}</td>
      <td>{{DriversInfo.lastName}}</td>
      <td>{{DriversInfo.username}}</td>
      <td>{{DriversInfo.serviceType}}</td>
      <td>{{DriversInfo.credit}}</td>
      <td><button (click)="onMoreClick(DriversInfo)"></button></td>
    </tr>
    <tr *ngIf="!DriversInfo">
      راننده ای وجود ندارد
    </tr>
  </tbody>
</table>
<ts-driver-all-info *ngIf="selectedDriver" [DriverInfo]="selectedDriver"></ts-driver-all-info>
