<h2>راننده ها</h2>
<input class="search form-ctrl" type="search" name="searchDrivers" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="searchStr">
<table class="table">
  <thead>
    <tr>
      <th>نام راننده</th>
      <th>نام خانوادگی</th>
      <th>نام کاربری</th>
      <th>نوع سرویس</th>
      <th>اعتبار حساب</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="driversInfo">
      <td>{{driversInfo.firstName}}</td>
      <td>{{driversInfo.lastName}}</td>
      <td>{{driversInfo.username}}</td>
      <td>{{driversInfo.serviceType}}</td>
      <td>{{driversInfo.credit}}</td>
      <td><button (click)="onMoreClick(driversInfo)">اطلاعات بیشتر</button></td>
    </tr>
    <tr *ngIf="!driversInfo" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
<ts-driver-all-info *ngIf="selectedDriver" [DriverInfo]="selectedDriver"></ts-driver-all-info>
