<h2>تغییر شعاع جستجو</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <div>
      <label>انتخاب سرویس</label>
      <select  name="serviceType" formControlName="serviceType">
          <option value="">سرویس مورد نظر را انتخاب کنید</option>
          <option value="normal">نرمال</option>
          <option value="eco">اکو</option>
          <option value="norma">معمولی</option>
          <option value="motor_transport">موتور</option>
          <option value="motor_delivery">پیک</option>
          <option value="suv">SUV</option>
          <option value="lux">لوکس</option>
      </select>
    </div>
    <div>
      <label>شعاع</label>
      <input type="text" name="radius" value="" formControlName="radius">
    </div>
    <div>
      <button type="submit" name="submitRadius" [disabled]="!myForm.valid">ثبت</button>
    </div>
</form>
