<h2>تغییر شعاع جستجو</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <div>
      <label>انتخاب سرویس</label>
      <select (change)=onChange($event.target.value)  name="serviceType" formControlName="serviceType">
          <option value="">سرویس مورد نظر را انتخاب کنید</option>
          <option value="N">نرمال</option>
          <option value="E">اکو</option>
          <option value="T">تاکسی</option>
          <option value="R">موتور</option>
          <option value="D">پیک</option>
          <option value="S">SUV</option>
          <option value="L">لوکس</option>
      </select>
    </div>
    <div>
      <label>شعاع</label>
      <input type="text" name="radius" value="res.data.searchRadius.radius" formControlName="radius">
    </div>
    <div>
      <button type="submit" name="submitRadius" [disabled]="!myForm.valid">ثبت</button>
    </div>
</form>
