<h2 class="title">ثبت اشتراک مسافر</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <ts-input>
      <input tsInput type="text" id="firstName" name="firstName" placeholder="نام" formControlName="firstName">
    </ts-input>
    <ts-input>
      <input tsInput type="text" id="lastName" name="lastName" placeholder="نام خانوادگی" formControlName="lastName">
    </ts-input>
  </div>
  <ts-input>
    <input tsInput type="text" id="phoneNumber" name="phoneNumber" placeholder="شماره تماس" formControlName="phoneNumber">
  </ts-input>
  <ts-input>
    <input tsInput type="text" id="line1" name="line1" placeholder="آدرس خط اول" formControlName="line1">
  </ts-input>
  <ts-input>
    <input tsInput type="text" id="line2" name="line2" placeholder="آدرس خط دوم" formControlName="line2">
  </ts-input>
  <ts-input>
    <input tsInput type="text" id="postalCode" name="postalCode" placeholder="کدپستی" formControlName="postalCode">
  </ts-input>
  <div>
    <label>استان</label>
    <select name="state" formControlName="state">
        <option value="">استان را انتخاب کنید</option>
        <option value="TE">تهران</option>
        <option value="KH">خراسان</option>
        <option value="IS">اصفهان</option>
        <option value="GO">گلستان</option>
      </select>
  </div>
  <div>
    <label>شهر</label>
    <select name="city" formControlName="city">
      <option value="">شهر را انتخاب کنید</option>
      <option value="TE">تهران</option>
      <option value="MA">مشهد</option>
      <option value="IS">اصفهان</option>
      <option value="GO">گرگان</option>
    </select>
  </div>
  <div>
    <button type="submit" name="subscribeRegister" [disabled]="!myForm.valid">ثبت</button>
  </div>
</form>
