<form [formGroup]='myForm' (ngSubmit)="onSubmit()" >
  <div>
    <select  formControlName="city">
      <option value="">شهر را انتخاب کنید</option>
      <option value="tehran">تهران</option>
      <option value="mashhad">مشهد</option>
      <option value="esfehan">اصفهان</option>
      <option value="gorgan">گرگان</option>
    </select>
  </div>
    <div>
      <label>سرویس نرمال<input type="checkbox" name="activeServices" formControlName="N" value="N"></label>
      <label>سرویس اکو<input type="checkbox" name="activeServices" formControlName="E" value="E"></label>
      <label>سرویس تاکسی<input type="checkbox" name="activeServices" formControlName="T" value="T"></label>
      <label>سرویس موتور<input type="checkbox" name="activeServices" formControlName="D" value="D"></label>
      <label>سرویس SUV<input type="checkbox" name="activeServices" formControlName="S"  value="S"></label>
      <label>سرویس لوکس<input type="checkbox" name="activeServices" formControlName="L" value="L"></label>
      <label>سرویس پیک<input type="checkbox" name="activeServices" formControlName="R" value="R"></label>
    </div>
    <div>
      <button type="submit" name="submitTarrif">ثبت</button>
    </div>
</form>
