<div id="main">
    <div id="head">
        پنل مدیریت
    </div>
    <div id="body">
        <div id="dashbord">
          داشبورد
        </div>
        <hr>
        <div id="statistics">
        آمار
        </div>
        <hr>
        <div id="manage">
          مدیریت
        </div>
        <div id="btn">
          <button type="button" name="sendServices">ارسال سرویس</button>
        </div>
        <div id="more">
            <a href=""></a>
            <a href="">بیشتر</a>
        </div>
    </div>
</div>
