<h2>نمایش اطلاعات سازمان های ثبت شده </h2>
<input type="search" name="searchOrganization" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="searchStr">
<table>
  <thead>
    <tr>
      <th>نام سازمان</th>
      <th>نام کاربری</th>
      <th>شماره محل کار</th>
      <th>شماره همراه</th>
      <th>ایمیل</th>
      <th>تعداد کارکنان</th>
      <th>توضیحات</th>
      <th>نام ثبت نام کننده</th>
      <th>نام خانوادگی ثبت نام کننده</th>
      <th>سمت ثبت نام کننده</th>
      <th>آدرس سازمان</th>
    </tr>
  </thead>
  <tbody>
    <tr >

    </tr>
  </tbody>
</table>
