<h2>تعرفه ها</h2>
<h3>نمایش تعرفه ها</h3>
<table class="table">
  <thead>
    <tr>
      <th>شهر</th>
      <th>سرویس</th>
      <th>هزینه هر متر قبل از 2 کیلومتر</th>
      <th>هزینه هر متر بعد از دو کیلومتر</th>
      <th>هزینه هر دقیقه سفر</th>
      <th>هزینه هر دقیقه انتظار</th>
      <th>هزینه ورودی</th>
      <th>درصد سفر بازگشت</th>
      <th>درصد سهم شرکت</th>
      <th>ویرایش</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>اضافه کردن تعرفه</h3>
<form [formGroup]='myForm' (ngSubmit)="onSubmit()" >
  <div>
    <label>شهر</label>
    <select  name="city" formControlName="city">
      <option value="">شهر را انتخاب کنید</option>
      <option value="TE">تهران</option>
      <option value="MA">مشهد</option>
      <option value="IS">اصفهان</option>
      <option value="GO">گرگان</option>
    </select>
  </div>
  <div>
    <label>سرویس</label>
    <select  name="serviceType" formControlName="serviceType">
      <option value="">نوع سرویس را انتخاب کنید</option>
      <option value="N">نرمال</option>
      <option value="E">اکو</option>
      <option value="T">تاکسی</option>
      <option value="S">SUV</option>
      <option value="L">لوکس</option>
      <option value="R">موتور</option>
      <option value="D">پیک</option>
    </select>
  </div>
  <div>
    <label>هزینه هر متر قبل از 2 کیلومتر</label>
    <input type="text" name="before2KM" formControlName="before2KM" >
  </div>
  <div>
    <label >هزینه هر متر بعد از 2 کیلومتر</label>
    <input type="text" name="after2KM" formControlName="after2KM" >
  </div>
  <div>
    <label> هزینه هر دقیقه سفر</label>
    <input type="text" name="perMin" formControlName="perMin" >
  </div>
  <div>
    <label >هزینه هر دقیقه انتظار</label>
    <input type="text" name="waitingMin" formControlName="waitingMin" >
  </div>
  <div>
    <label >هزینه ورودی</label>
    <input type="text" name="entrance" formControlName="entrance" >
  </div>
   <div>
    <label >درصد سفر بازگشت</label>
    <input type="text" name="twoWayCost" formControlName="twoWayCost" >
  </div>
   <div>
    <label >درصد سهم شرکت</label>
    <input type="text" name="coShare" formControlName="coShare" >
  </div>
  <div>
    <button type="submit" name="submitAddTarrif" [disabled]="!myForm.valid">ثبت</button>
  </div>
</form>
