<h2>مسافر ها</h2>
<input type="search" name="searchPassengers" class="form-ctrl search" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="searchStr">
<table class="table">
  <thead>
    <tr>
      <th>نام مسافر</th>
      <th>نام کاربری</th>
      <th>شماره‌همراه</th>
      <th>موجودی حساب</th>
      <th>وضعیت</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="passengers">
    <td>{{passengers.passengerInfo.firstName}}</td>
    <td>{{passengers.passengerInfo.lastName}}</td>
    <td></td>
    <td>{{passengers.credit}}</td>
    <td>{{passengers.stateCode}}</td>
    </tr>
  </tbody>
</table>

<ts-passenger *ngIf="selectedPassenger" [passenger]="selectedPassenger"></ts-passenger>
