<h2>مسافر ها</h2>
<input type="search" name="searchPassengers" class="form-ctrl search" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="query">
<table class="table" >
  <thead>
    <tr>
      <th>نام کاربری</th>
      <th>شماره‌همراه</th>
      <th>موجودی حساب</th>
      <th>وضعیت</th>
      <th>بن کردن</th>
      <th>رفع بن</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let passenger of passengers">
    <td>{{passenger.username}}</td>
    <td></td>
    <td>{{passenger.credit}}</td>
    <td >{{passenger.stateCodeName}}</td>
    <td ><button class="btn outline error" (click)="banPassenger(passenger)" [disabled]="passenger.stateCode == -1 || passenger.stateCode == -2">بن</button></td>
    <td ><button class="btn outline error" (click)="unBanPassenger(passenger)" [disabled]="passenger.stateCode != -1 || passenger.stateCode == -2 ">رفع بن</button></td>
    <td><button class="btn accent" (click)="onMoreClick(passenger)" >اطلاعات بیشتر</button></td>
    </tr>
  </tbody>
</table>

<ts-passenger *ngIf="selectedPassenger" [passenger]="selectedPassenger"></ts-passenger>
