<h2>اضافه کردن خودرو جدید</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label>انتخاب خودروسازی</label>
    <select name="manufactureID" formControlName="manufactureID">
        <option value="" disabled selected>خودروسازی را انتخاب کنید</option>
        <option *ngFor="let man of manufactures " value={{man.id}}>{{man.name}}</option>
    </select>
  </div>
  <div>
    <label>نام خودرو</label>
    <input type="text" name="name" value="" formControlName="name">
  </div>
  <div>
    <button type="submit" name="submitCar" [disabled]="!myForm.valid">ثبت</button>
  </div>
</form>
