<h2>سرویس های فعال</h2>
<div>
  <select  (change)=onChange($event.target.value) >
    <option value="">شهر را انتخاب کنید</option>
    <option value="TE">تهران</option>
    <option value="MA">مشهد</option>
    <option value="IS">اصفهان</option>
    <option value="GO">گرگان</option>
  </select>
</div>
<table class="table">
  <thead>
    <tr>
      <th>سرویس</th>
      <th>وضعیت</th>
      <th >غیر فعال کردن</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activeService of activeServices">
      <td>{{activeService.type}}</td>
      <td *ngIf="activeService.status===true">فعال</td>
      <td><button>کلیک</button></td>
    </tr>
  </tbody>
</table><br>
<h2>فعال کردن سرویس جدید</h2>
 <form [formGroup]='myForm' (ngSubmit)="onSubmit()" >
   <select formControlName="city"  >
     <option value="">شهر را انتخاب کنید</option>
     <option value="TE">تهران</option>
     <option value="MA">مشهد</option>
     <option value="IS">اصفهان</option>
     <option value="GO">گرگان</option>
   </select>
   <select formControlName="serviceType" >
     <option value="">نوع سرویس را انتخاب کنید</option>
     <option value="N">نرمال</option>
     <option value="E">اکو</option>
     <option value="T">تاکسی</option>
     <option value="R">موتور</option>
     <option value="D">پیک</option>
     <option value="S">SUV</option>
     <option value="L">لوکس</option>
   </select>
<button type="submit" name="submitActiveService" >ثبت</button>
</form>
