<h2>خطاها</h2>
<table class="table">
  <thead>
    <tr>
      <th>توضیحات</th>
      <th>نام کاربری</th>
      <th>وضعیت</th>
      <th>نوع کاربر</th>
      <th>تغییر وضعیت</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{bug.description}}</td>
      <td *ngIf="bug.passengerUsername">{{bug.passengerUsername}}</td>
      <td *ngIf="bug.driverUsername">{{bug.driverUsername}}</td>
      <td>{{bug.stateName}}</td>
      <td *ngIf="bug.passengerUsername">مسافر</td>
      <td *ngIf="bug.driverUsername">راننده</td>
      <td><button (click)="onChange(bug)" [disabled]="bug.state ==  'R'">کلیک</button></td>
    </tr>
  </tbody>
</table>
