@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/scss/debug'; // TODO: remove in production mode
@import 'assets/scss/variables';
@import 'assets/scss/normalize';
@import 'assets/scss/namespace';
@import 'assets/scss/grid';

body {
  font-size: $body-size;
  color: $text;
}

%fullscreen {
  min-height: 100%;
}

%btn {
  border-radius: 3px;
  font-family: inherit;
  height: 30px;
  border: 0;
  padding: 0 15px;
}

%card {
  box-shadow: $card-shadow;
}

%search-input {
  @extend %card;
  background: $background-out;
  border-radius: 18px;
  height: 36px;
  padding: 0 1em;
  border: 0;
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  padding: 1em 5%;
}

.form-ctrl {
  margin: 10px 0;
}

.form-group {
  margin-bottom: 15px;
  position: relative;

  &:focus {
    label {
      background: red;
    }
  }

  label {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: $input-padding;
    color: $disable;
  }

  .input {
    outline: 0;
    width: 100%;
    vertical-align: bottom;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $text;
  }
}

.input-group {
  display: flex;
  flex-flow: row nowrap;

  ts-input:not(:last-child) {
    margin-left: 10px;
  }
}

.input {
  outline: 0;
  padding: $input-padding;
  width: 50%;
  vertical-align: bottom;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $text;
}

.ts-input {
  outline: 0;
  padding: $input-padding;
  width: 100%;
  vertical-align: bottom;
  background: transparent;
  border: 0;
  // border-bottom: 1px solid $text;

  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
    user-select: none;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
    user-select: none;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
    user-select: none;
  }

}

.search {
  @extend %search-input;
  width: 100%;
  flex: 1;
}

.table {
  @extend %card;
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  background: $background-out;

  th {
    padding: $table-padding;
    text-align: right;

    tr {
      background: $background;
    }
  }

  tbody {
    tr:not(.no-data) {
      &:nth-child(odd) {
        background: $background;
      }

      &:hover {
        background: $background-in;
      }
    }

    td {
      padding: $table-padding;
    }
  }

  .no-data {
    background: $background;

    td {
      text-align: center;
      padding: 1em 0;
      color: $disable;
    }
  }
}

.title {
  margin-bottom: 10px;
}

.btn {
  @extend %btn;
  margin: $input-margin 0;

  &.block {
    display: block;
    width: 100%;
    flex: 1;
  }

  &.error {
    background: $error;
  }

  &.warning {
    background: $warning;
  }

  &.success {
    background: $success;
  }

  &.accent {
    background: $accent;
  }

  &.outline {
    @extend %btn;
    background: transparent;
    border: 1px solid;

    &.error {
      border-color: $error;
      color: $error;
    }

    &.warning {
      border-color: $warning;
      color: $warning;
    }

    &.success {
      border-color: $success;
      color: $success;
    }

    &.accent {
      border-color: $accent;
      color: $accent;
    }
  }
}

.btn:disabled {
  background: $disable;
  border: 0;
  color: $text-disable;

  &.outline {
    border-color: $disable;
    background: transparent;
    border: 1px solid;
    color: $text-gray;
  }
}


.card {
  @extend %card;
  background: $background-out;
}

.panel {
  @extend %fullscreen;
  flex: 1;
  background: $background;
  overflow-y: auto;
  padding: $container-padding;
}

.breadcrumb {
  padding: 8px 0;
  list-style: none;
  border-radius: 4px;

  li {
    display: inline-block;
    color: $text-disable;

    a {
      color: $accent-text;

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:first-child)::before {
      padding: 0 5px;
      color: $disable;
      content: '/\00a0';
    }
  }
}



::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 10px;
  background-color: $background-accent;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: $background-accent-out;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $disable;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: $text-gray;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $text-gray;
  transition: opacity 250ms ease-in-out;
}

:focus:-ms-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $text-gray;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

:focus::-moz-placeholder {
  opacity: .5;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: $text-gray;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

:focus:-moz-placeholder {
  opacity: .5;
}


/* Spinner Wave */
.loading {
  width: 32px;
	height: 32px;
	clear: both;
	margin: 20px auto;

	border-radius: 50%;
	position: relative;
	opacity: 1;
}
.loading:before, .loading:after  {
	content:'';
	border: 1px $text solid;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	left:0px;
}
.loading:before {
	transform: scale(1,1);
	opacity: 1;
	-webkit-animation: spWaveBe 0.6s infinite linear;
	animation: spWaveBe 0.6s infinite linear;
}
.loading:after {
	transform: scale(0,0);
	opacity: 0;
	-webkit-animation: spWaveAf 0.6s infinite linear;
	animation: spWaveAf 0.6s infinite linear;
}
@-webkit-keyframes spWaveAf {
	from { -webkit-transform: scale(0.5,0.5); opacity: 0; }
	to { -webkit-transform: scale(1,1); opacity: 1; }
}
@keyframes spWaveAf {
	from { transform: scale(0.5,0.5); opacity: 0; }
	to { transform: scale(1,1); opacity: 1; }
}
@-webkit-keyframes spWaveBe {
	from { -webkit-transform: scale(1,1); opacity: 1; }
	to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}
@keyframes spWaveBe {
	from { -webkit-transform: scale(1,1); opacity: 1; }
	to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}
