@import 'assets/scss/debug'; // TODO: remove in production mode
@import 'assets/scss/colors';
@import 'assets/scss/typography';
@import 'assets/scss/normalize';
@import 'assets/scss/namespace';
@import 'assets/scss/grid';

%fullscreen
{
  min-height: 100%;
}

.container
{
  @extend %fullscreen;
  display: flex;
}

%btn
{
  border-radius: 3px;
  font-family: inherit;
  height: 30px;
}

.btn-outline
{
  @extend %btn;
  background: transparent;
  border: 1px solid;

  &.btn-accent
  {
    border-color: $accent;
    color: $accent;
  }
}

.card
{
  background: $background;
  box-shadow: 0 3px 6px $shadow-color1, 0 3px 6px $shadow-color2;
  margin: 1rem;
}

.panel
{
  flex: 1;
}
