<h2>شعاع جستجو</h2>
<table class="table">
  <thead>
    <tr>
      <th>نوع سرویس</th>
      <th>شعاع</th>
      <th>ویرایش</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let radius of radiuses">
      <td>{{radius.type}}</td>
      <td>{{radius.radius}}</td>
      <td><button (click)="changeRadius(radius)" >کلیک </button></td>
    </tr>
  </tbody>
</table>
<form [formGroup]="updateForm" (ngSubmit)="onUpdate()" *ngIf="selectedRadius">
<h2>تغیر شعاع جستجو</h2>
<div>
  <label><input type="text" name="serviceTypeUpdate" disabled  formControlName="serviceTypeUpdate"></label>
</div>
<div>
  <label><input type="number" name="radiusUpdate" formControlName="radiusUpdate"></label>
</div>
<div>
  <button type="submit" name="updateRadius" [disabled]="!updateForm.valid">ثبت</button>
</div>
</form>
<h2>اضافه کردن شعاع جستجو جدید</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <div>
      <label>انتخاب سرویس</label>
      <select  name="serviceType" formControlName="serviceType">
          <option value="">سرویس مورد نظر را انتخاب کنید</option>
          <option value="N">نرمال</option>
          <option value="E">اکو</option>
          <option value="T">تاکسی</option>
          <option value="R">موتور</option>
          <option value="D">پیک</option>
          <option value="S">SUV</option>
          <option value="L">لوکس</option>
      </select>
    </div>
    <div>
      <label>شعاع</label>
      <input type="number" name="radius"  formControlName="radius">
    </div>
    <div>
      <button type="submit" name="submitRadius" [disabled]="!myForm.valid">ثبت</button>
    </div>
</form>
