<h2>شعاع جستجو</h2>
<table class="table">
  <thead>
    <tr>
      <th>نوع سرویس</th>
      <th>شعاع</th>
      <th>ویرایش</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let radius of radiuses">
      <td *ngIf="radius.serviceType === 'T'">تاکسی</td>
      <td *ngIf="radius.serviceType === 'L'">لوکس</td>
      <td *ngIf="radius.serviceType === 'N'">نرمال</td>
      <td *ngIf="radius.serviceType === 'E'">اکو</td>
      <td *ngIf="radius.serviceType === 'D'">پیک</td>
      <td *ngIf="radius.serviceType === 'R'">موتور</td>
      <td *ngIf="radius.serviceType === 'S'">SUV</td>
      <td>{{radius.radius}}</td>
      <td><button>کلیک </button></td>
    </tr>
  </tbody>
</table>
<h2>اضافه کردن شعاع جستجو جدید</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <div>
      <label>انتخاب سرویس</label>
      <select  name="serviceType" formControlName="serviceType">
          <option value="">سرویس مورد نظر را انتخاب کنید</option>
          <option value="N">نرمال</option>
          <option value="E">اکو</option>
          <option value="T">تاکسی</option>
          <option value="R">موتور</option>
          <option value="D">پیک</option>
          <option value="S">SUV</option>
          <option value="L">لوکس</option>
      </select>
    </div>
    <div>
      <label>شعاع</label>
      <input type="number" name="radius"  formControlName="radius">
    </div>
    <div>
      <button type="submit" name="submitRadius" [disabled]="!myForm.valid">ثبت</button>
    </div>
</form>
