<h2>اطلاعات کامل اپراتور</h2>
<table class="table" >
  <thead>
    <tr>
      <th>نام راننده</th>
      <th>نام خانوادگی</th>
      <th>نام کاربری</th>
      <th>جنسیت</th>
      <th>شماره محل کار</th>
      <th>شماره همراه</th>
      <th>تاریخ تولد</th>
      <th>ایمیل</th>
      <th>شهر</th>
      <th>وضعیت</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngIf="operator">
      <td>{{operator.firstName}}</td>
      <td>{{operator.lastName}}</td>
      <td>{{operator.username}}</td>
      <td>{{operator.getGenderName()}}</td>
      <td>{{operator.workNumber}}</td>
      <td>{{operator.phoneNumber}}</td>
      <td>{{operator.birthDate}}</td>
      <td>{{operator.email}}</td>
      <td>{{operator.city}}</td>
      <td>{{operator.accountStateName}}</td>

    </tr>
    <tr *ngIf="!operator" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
