<h2>موجودی حساب کل راننده ها</h2>
<table class="table">
  <thead>
    <tr>
    <th>نام کاربری راننده</th>
    <th>موجودی حساب</th>
    <th>شماره کارت</th>
    <th>شماره حساب</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driverCredit of driverCredit">
      <td>{{driverCredit.user}}</td>
      <td>{{driverCredit.credit}}</td>
      <td>{{driverCredit.cardNumber}}</td>
      <td>{{driverCredit.accountNumber}}</td>
    </tr>
    <tr *ngIf="!driverCredit.length" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
