<h2>راننده ها</h2>
<input class="search form-ctrl" type="search" name="searchDrivers" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="searchStr">
<table class="table">
  <thead>
    <tr>
      <th>نام راننده</th>
      <th>نام خانوادگی</th>
      <th>نام کاربری</th>
      <th>نوع سرویس</th>
      <th>اعتبار حساب</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="drivers">
      <td>{{drivers.firstName}}</td>
      <td>{{drivers.lastName}}</td>
      <td>{{drivers.username}}</td>
      <td>{{drivers.serviceType}}</td>
      <td>{{drivers.credit}}</td>
      <td><button (click)="onMoreClick(drivers)">اطلاعات بیشتر</button></td>
    </tr>
    <tr *ngIf="!drivers" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
<ts-driver *ngIf="selectedDriver" [driver]="selectedDriver"></ts-driver>
