<h2>راننده ها</h2>
<input class="search form-ctrl" type="search" name="searchDrivers" placeholder="جستجو ..." (keyup)="OnSearch()" [(ngModel)]="query">
<table class="table" >
  <thead>
    <tr>
      <th>نام راننده</th>
      <th>نام خانوادگی</th>
      <th>نام کاربری</th>
      <th>نوع سرویس</th>
      <th>اعتبار حساب</th>
      <th>وضعیت</th>
      <th>بن کردن</th>
      <th>رفع بن</th>
      <th>اطلاعات بیشتر</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driver of drivers">
      <td>{{driver.firstName}}</td>
      <td>{{driver.lastName}}</td>
      <td>{{driver.username}}</td>
      <td>{{driver.serviceType}}</td>
      <td>{{driver.credit}}</td>
      <td >{{driver.status}}</td>
      <td><button class="btn outline error" (click)="banDriver(driver.username)" [disabled]="driver.stateCode=== -1">بن</button></td>
      <td><button class="btn outline error" (click)="unBanDriver(driver.username)" [disabled]="driver.stateCode!== -1">رفع بن</button></td>
      <td><button class="btn accent" (click)="onMoreClick(driver)">اطلاعات بیشتر</button></td>
    </tr>
    <tr *ngIf="!drivers" class="no-data">
      <td colspan=75%>
        راننده ای وجود ندارد
      </td>
    </tr>
  </tbody>
</table>
<ts-driver *ngIf="selectedDriver" [driver]="selectedDriver"></ts-driver>
